@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family: "Yu Gothic", "Meiryo", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3","Source Han Sans JP","Arial", sans-serif ;
    line-height: 1.7;
}
a {
    text-decoration: none;
    color: var(--font-color);
}
p {
    font: normal normal normal 16px/40px Source Han Sans JP;
}
:root {
    --fs036: 36px;
    --fs030: 30px;
    --fs028: 28px;
    --fs024: 24px;
    --fs020: 20px;
    --fs018: 18px;
    --fs016: 16px;
    --fs014: 14px;
    --fs012: 12px;
    --main-color: #dedede;
    --font-color: #707070;
    --accent-color:#939393;
}

/* 共通部分 */
.title {
    font-size: var(--fs024);
    text-transform: uppercase;
}
/* header -------------------------------------------*/
header {
    height: 80px;
    width: 100%;
    /* position: fixed; */
    background-color: var(--main-color);
}
/* mune */
.menu {
    position: fixed;
    right: -30%;
    width: 30%;
    height: 70%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    color:var(--main-color);
    background-color: var(--accent-color);
    transition: .3s;
    text-transform: uppercase;
    z-index: 50;
    font-size: var(--fs020);
}
.menu-list {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
menu-list a {
    font-size: var(--fs020);
    color: #fff;
}
.btn {
    position: fixed;
    top: 20px;
    right: 16px;
    width: 45px;
    height: 45px;
    z-index: 100;
}
.btn-line {
    display: block;
    position: relative;
    width: 100%;
    height: 4px;
    background-color:#3d3d3d ;
    transition: .2s;
}
.btn-line::before,.btn-line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #3d3d3d;
    transition: .5s;
    left: 0;
}
.btn-line::before {
    transform: translateY(-16px);
}
.btn-line::after {
    transform: translateY(16px);
}
.menu.open {
    right: 0;
}
.btn-line.open {
	background-color: transparent;  	
}
.btn-line.open::before , .btn-line.open::after {
	content: "";
	background-color: #fff;  
	transition: .2s;
}
.btn-line.open::before {
	transform: rotate(45deg); 
}
.btn-line.open::after {
	transform: rotate(-45deg); 
}
/* menu */
/* footer ------------------------------------------------------------*/
footer {
    background-color: var(--main-color);
    text-align: center;
    padding: 20px 0;
    position: relative;
    display: block;
}
.footer-inner {
    display:flex;
    justify-content: space-around;
}
.contact {
    text-align: left;
    width: 40vw;
}
.contact .title {
    padding-bottom: 30px;
}
.footer-contact {
    color: var(--font-color);
    font-size: var(--fs014);
    margin-bottom: 25px;
}
.footer-contact h5 {
    font-size: var(--fs018);
}
p.text-light {
    line-height: 1.8;
}
.text-white {
    line-height: 1.5;
}
.footer-link {
    padding-top: 165px;
    width: 40vw;
}
.footer-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-btn a {
    height: 45px;
    width: 245px;
    border-radius: 20px;
    line-height: 45px;
    color:var(--font-color);
    border: solid 1px var(--accent-color);
    transition: all .05s;
    margin-bottom: 40px;
    background-color: #fff;
    font-weight: bold;
}
.copyright {
    bottom: 0; right: 0;
    text-align: left;
}
